@use '../abstracts/' as *;

footer {
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
  background: $dark-theme-background;
  box-shadow: 0px -4px 6px rgba(54, 54, 54, 0.15);

  > .container {
    width: 100%;
    gap: 50px;
    padding: 20px 2rem;
    flex-direction: row;
    justify-content: center;
  }
}

.launch-timer {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;

  .launching {
    font-size: 1.4rem;
  }

  // .heading {
  //   font-size: 1.6em;
  //   text-align: center;
  // }

  .timer {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 1.4em;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  footer {
    > .container {
      flex-direction: column;
      gap: 15px;
    }

    .btn {
      padding: 5px 20px;
    }
  }

  .launch-timer {
    flex-direction: column;
    gap: 10px;

    .launching {
      font-size: 1.2em;
    }

    .timer {
      font-size: 1em;
    }
  }
}
