.gvo_token_section{
    padding: 0px !important;

    .gvo_top_strip_bar{
        background-color: #05f9bc;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        .site_logo{
            width: 60px;
            margin-right: 60px;
        }
        .gvo_strip_person_img{
            width: 100px;
            margin-right: 60px;
        }

        .gvo_strip_para{
            width: 400px;
            font-size: 18px;

            b{
                color: #19181e;
                font-weight: 900;
                letter-spacing: 0px;
                font-family: sans-serif;
            }
        }
    }
}