@use "../abstracts/" as *;

.video-section {
  height: calc(100vh - 184px);

  .intro-video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);

    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
  }
}

@media screen and (max-width: 720px) {
  .video-section {
    .intro-video {
      max-width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .video-section {
    height: calc(100vh - 140px - 90px);
  }
}
