$black: #000;
$white: #fff;

$gray-900: #111827;
$gray-800: #1f2937;
$gray-700: #374151;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-200: #d1d58b;
$gray-100: #e5e7eb;

$red: #dc2626;
$green: #059669;
$blue: #2563eb;

$primary: #3772fd;
$primary-light: #7cb3ff;
$primary-dark: #004099;

$dark-theme-background: #000000;
$dark-theme-text: #ffffff;
