@use '../abstracts/' as *;

.heading {
  color: $primary;
  font-size: 2em;
  line-height: 1.5em;
  margin: 15px 0;
}

.heading-small {
  color: $primary;
  font-size: 1.375em;
  margin: 10px 0;
}

.sub-heading {
  font-size: 1.25em;
  margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 1.8em;
    line-height: 1.4em;
  }
}
